<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/stylesheets/homepageStyle.css">
</head>
<body>
    <%- include('header') %>
    <h1>Welcome to the Homepage!</h1>
    
    <h2>Timetable</h2>
    <table>
        <tr>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Time</th>
        </tr>
        <% timetable.forEach(course => { %>
            <tr>
                <td><%= course.Course_ID %></td>
                <td><%= course.name_subj %></td>
                <td><%= course.Time %></td>
            </tr>
        <% }) %>
    </table>
    <script>
        document.addEventListener('DOMContentLoaded', function() { 
            var dropbtn = document.querySelector('.dropbtn'); 
            dropbtn.addEventListener('click', function() { 
                var dropdownContent = this.nextElementSibling; 
                if (dropdownContent.style.display === 'block') { 
                    dropdownContent.style.display = 'none'; 
                } else { 
                    dropdownContent.style.display = 'block'; 
                } 
            }); 
        });
    </script>
</body>
</html>
