body {
    font-family: Arial, sans-serif;
}

.term-summary {
    width: 80%;
    margin: auto;
}

.term {
    margin-bottom: 20px;
}

.level-load {
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #6c928c;
}
