body {
    font-family: Arial, sans-serif;
}

.schedule-container {
    width: 80%;
    margin: auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #6c928c;
}

.meeting-info {
    margin-top: 20px;
}
.ten h1 {
  font-size:34px; font-weight:500; text-transform:uppercase;
}
.ten h1:before {
    background-color: #6c928c;;
    border-radius: 0.25rem;
    content: '';
    display: block;
    height: 0.25rem;
    width: 42px;
    margin-bottom: 1.25rem;
}
